#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

div.question {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
}

div {
  padding: 10px;
}
